.movie-search__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 37px;
}

.movie-search {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
}

@media (max-width: 1119px) {
  .movie-search {
    max-width: 658px;
    gap: 8px;
  }

  .movie-search__items {
    gap: 20px;
  }
}
